<!-- Navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- Collapsing bullshit -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <!-- Brand -->
  <a class="navbar-brand" href="/">Eat@</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
      <!-- Preferences -->
	  <li class="nav-item">
		<a class="nav-link" href="/pref">Preferences</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/about">About</a>
	  </li>
	</ul>

    <ul class="my-lg-0 my-2">

	  <li class="nav-item">
        <% if (user) { %>
        <a class="nav-link" href="/auth/logout"><%=user.name%>, Logout</a>
        <% } else { %>
		<a class="nav-link" href="/auth/login">Login</a>
        <% } %>
	  </li>

    </ul>
    <!--
	<form class="form-inline my-2 my-lg-0">
	  <input class="form-control mr-sm-2" type="text" placeholder="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
    -->
  </div>
</nav>
