<% title = 'About EAT@' %>
<% include partials/top %>

<p>This was written in 36 hours at mHacks X.</p>
<p>mHacks is a worse version of spartahacks attended by lots of hackers.</p>
<p>It used to be super awesome, then UoM took over.</p>
<p>Also corporations suck, and executives don't know what they are doing.</p>

<% include partials/bot %>
