<!DOCTYPE HTML>
<html lang="en">
  <head>
  </head>
  <body>
    <main>
    <h1><%=status%></h1>
    <h2><%=message%></h1>
    <p><%=error%></p>
    <p><%=error.stack%></p>
    </main>
  </body>
</html>
