<% title = 'EAT@' %>
<% include partials/top %>
<div class="container">
  <main>
  <article>
    <header><h1>Pick a place to search!</h1></header>
    <div class="row">
      <div class="col-md-4">
        <h2>MSU</h2>
        <p>You can get an employee mealplan for $6.50 per walkin, or $0.00 if you can edit html.</p>
        <p><a class="btn btn-secondary" href="/find/msu" role="button">Search &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>UoM</h2>
        <p>Holy snap they deliver!</p>
        <p><a class="btn btn-secondary" href="/find/uom" role="button">Search &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Chinese</h2>
        <p>Lets be real, it's American</p>
        <p><a class="btn btn-secondary" href="/find/chinese" role="button">Search &raquo;</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>American</h2>
        <p>Classic burgers. Die of cancer today.</p>
        <p><a class="btn btn-secondary" href="/find/american" re="button">Search &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Italian</h2>
        <p>Idk anything about italian food.</p>
        <p><a class="btn btn-secondary" href="/find/italian" role="button">Search &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Mexican</h2>
        <p>Also American now.</p>
        <p><a class="btn btn-secondary" href="/find/mexican" role="button">Search &raquo;</a></p>
      </div>
    </div>

  </article>
  </main>
</div>
<% include partials/bot %>
