<% title = 'EAT@ Privacy' %>
<% include partials/top %>

<div class="container">
  <main>
  <article>
    <h1>Privacy Statement</h1>
    <p>If you log in via Google, the only way we have to track you is the ID google sends to us. It is unique to this application. We do not store your username.</p>
    <p>We keep a database of all your set preferences. There is no guarantee on how long we keep them, or what we will do with them.</p>
  </article>
  </main>
</div>

<% include partials/bot %>
